* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.login-page {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
  /* padding: 40px; */
  background: white
}


.left-side-part {
  width: 420px;
  background: #ffffff;
  padding: 40px 0 0 0;
  display: flex;
  flex-direction: column;
}

.left-side-part header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 32px;
}

.left-side-part header img {
  margin-bottom: 16px;
}

.left-side-part header h2 {
  font-size: 24px;
  margin-bottom: 6px;
}

.left-side-part header p {
  font-size: 14px;
  color: #777;
}

.login-inputs {
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 18px;
}

.form-group label {
  display: block;
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 6px;
}

.form-group input {
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #ddd;
  font-size: 14px;
}

.form-group input:hover,
.form-group input:focus {
  border-color: #5a54f9;
  outline: none;
}


.forgot-password {
  font-size: 13px;
  color: #5a54f9;
  text-align: right;
  cursor: pointer;
}

/* BUTTON + TERMS */
.login-page-actions-buttons {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.action-button {
  width: 100%;
  padding: 12px;
  border-radius: 10px;
  border: none;
  background: #5a54f9;
  color: #ffffff;
  font-size: 15px;
  cursor: pointer;
}

.action-button:hover {
  background: #4b46e5;
}

.terms {
  font-size: 12px;
  color: #777;
  line-height: 1.5;
}

.terms a {
  color: #5a54f9;
  text-decoration: none;
}

/* BOTTOM SIGNUP */
.page-bottom {
  margin-top: 24px;
  text-align: center;
  font-size: 14px;
}

.page-bottom button {
  background: none;
  outline-color: none;
  color: #5a54f9;
  margin-left: 4px;
  text-decoration: none;
}

.right-side-part {
  background: linear-gradient(135deg, #6a5af9, #7b6cf6);
  height: 100%;
  display: flex;
  align-items: center;
    border-radius:20px;
  justify-content: center;
}

.right-card {
  background: rgba(255, 255, 255, 0.08);
  border-radius: 20px;
  padding: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.right-card img {
  max-height: 75vh;
  max-width: 100%;
  object-fit: contain;
}

