body {
  background-image: linear-gradient( 135deg, #C2FFD8 10%, #465EFB 150%);
}
.app {
  display: flex;
  height: 100vh;
}
.main-content{
 flex: 1;
 display: flex;
 flex-direction: column;
 gap:16px;
 padding: 16px;
}
.title-header {
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
font-family:  "Inter", system-ui, sans-serif;;
  /* padding: 16px 550px 20px; */
}



/* 
body {
  margin: 0;
  background-image: linear-gradient(
    135deg,
    #C2FFD8 10%,
    #465EFB 150%
  );
}


.app {
  display: flex;
  height: 100vh;
}


.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
}


.title-header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
}


.Upload-pannel {
  flex: 0; 
  display: flex;
  justify-content: center;
  align-items: center;
}
 */
